@import '../../styles/variables';

.speakers {
  margin-block-start: 40px;
  margin-block-end: 60px;

  &__icon {
    background: url('../../assets/img/speakers-decor.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 1px;
    bottom: 11px;
    height: 160.78px;
    position: absolute;
    width: 96.47px;

    @media screen and (min-width: 768px) {
      bottom: -35px;
      height: 298.58px;
      right: -10px;
      width: 176.44px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 0;
    padding-inline-start: 20px;
    text-align: left;

    @media screen and (min-width: 768px) {
      font-size: 64px;
      line-height: 74px;
      padding-inline-start: 175px;
    }

    &-container {
      background-color: #ff676a;
      border-radius: 0 16px 16px 0;
      box-shadow: 0px 4px 12px 2px #00000040;
      color: $white;
      padding-block: 25px;
      position: relative;
      width: 88%;

      @media screen and (min-width: 768px) {
        padding-block: 38px;
        margin-block-end: 50px;
      }
    }
  }

  &__description {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    margin-block: 30px;
    text-align: left;

    @media screen and (min-width: 768px) {
      font-size: 64px;
      line-height: 74px;
    }
  }

  &__cfp-date {
    color: #ff676a;
  }

  &__container {
    margin: 13px 18px;
    max-width: 1440px;

    @media screen and (min-width: 1140px) {
      align-items: center;
      display: flex;
      gap: 24px;
      margin: 76px 176px 110px 181px;
    }
  }

  &__cfp-button {
    display: inline-block;
    width: 100%;

    @media screen and (min-width: 768px) {
      flex-shrink: 0;
      width: 455px;
    }
  }
}
