@import '../../styles/variables';

.speakers {
  margin-block-start: 40px;
  margin-block-end: 60px;

  &__title-container {
    padding-right: 5%;
  }

  &__element {
    margin: 25px 30px;

    @media screen and (min-width: $viewport-lg) {
      margin: 25px 70px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
