@import '../../styles/variables';

.agenda {
  &__title-container {
    padding-left: 5%;
  }
  &__container {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__sub-header {
    font-size: 0.8rem;
    line-height: 1rem;
    color: $green-haze;

    @media screen and (min-width: $viewport-md) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;

    @media screen and (min-width: $viewport-md) {
      font-size: 20px;
    }
    &__row {
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 0.1rem;
        @media screen and (min-width: $viewport-md) {
          margin-right: 0.3rem;
        }
      }

      &__cell {
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;

        @media screen and (min-width: $viewport-md) {
          height: 3.5rem;
        }

        &--green {
          background: #d1ece3;
        }

        &--red {
          background: #ffe7e1;
        }

        &--blue {
          background: #cae6ff;
        }

        &:not(:last-child) {
          margin-right: 0.1rem;

          @media screen and (min-width: $viewport-md) {
            margin-right: 0.3rem;
          }
        }
      }

      & > * {
        border-radius: 2px;
        @media screen and (min-width: $viewport-md) {
          border-radius: 5px;
        }
      }
      &__hours {
        display: flex;
        flex-direction: column;
        width: 3rem;
        @media screen and (min-width: $viewport-md) {
          flex-direction: row;
          width: 11rem;
        }

        &-dash {
          margin: 0 0.5rem;
        }
        &-number {
          width: 5rem;
          display: flex;
          justify-content: center;
        }
      }

      &__topic-main {
        width: 7.5rem;
        @media screen and (min-width: $viewport-md) {
          width: 39rem;
        }
      }

      &__topic-secondary {
        width: 7rem;
        @media screen and (min-width: $viewport-md) {
          width: 20rem;
        }
      }
    }
  }
}
