@import '../../styles/variables';

.agenda {
  $grey-100: #f0f0f0;
  $grey-200: #666666;
  $gap: 0.375rem;
  $secondary-talk-column: 264px;
  $hour-column: 111px;

  &__title-container {
    padding-left: 5%;
  }
  &__container {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__sub-header {
    font-size: 0.8rem;
    line-height: 1rem;
    color: $green-haze;

    @media screen and (min-width: $viewport-lg) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
    margin-bottom: 3rem;

    @media screen and (min-width: $viewport-lg) {
      font-size: 20px;
    }
    &__row {
      $row: &;
      width: 100%;

      @media screen and (min-width: $viewport-lg) {
        display: grid;
        grid-template-columns: $hour-column 1fr;
        gap: $gap;
      }

      &:first-child {
        background-color: #fff;
        font-size: 16px;
        font-weight: 500;
        position: sticky;
        text-align: center;
        top: 0;

        > .agenda__schedule__row__hours {
          display: none;
        }

        @media screen and (min-width: $viewport-lg) {
          font-size: unset;

          > .agenda__schedule__row__hours {
            display: unset;
          }
        }
      }

      &:not(:last-child) {
        @media screen and (min-width: $viewport-lg) {
          margin-bottom: 0.1rem;
        }
      }

      &__cell {
        $cell: &;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.3rem;
        flex-direction: column;

        @media screen and (min-width: $viewport-lg) {
          min-height: 3.5rem;

          &:not(:last-child) {
            width: 100%;
          }
        }

        &-header {
          display: none;

          @media screen and (min-width: $viewport-lg) {
            color: $grey-200;
            display: grid;
            font-weight: 700;
            gap: $gap;
            grid-template-columns: $hour-column 1fr $secondary-talk-column;
            justify-content: center;
            margin-bottom: 0.25rem;
            width: 100%;
          }

          #{$cell} {
            align-items: center;
            background: $grey-100;
            justify-content: center;
            padding: 8px 32px;
            text-align: center;
          }
        }

        &-speaker {
          color: $grey-200;
          display: block;
        }

        &-group {
          margin-bottom: 0.25rem;
          @media screen and (min-width: $viewport-lg) {
            display: grid;
            gap: $gap;
            grid-template-columns: 1fr $secondary-talk-column;
          }
        }

        &--empty {
          display: none;

          @media screen and (min-width: $viewport-lg) {
            display: block;
          }
        }

        &--green {
          background: #d1ece3;
          border-color: #04a88c;

          #{$row}__hours-number {
            color: #04a88c;
          }
        }

        &--red {
          background: #ffe7e1;
          border-color: #ff676a;

          #{$row}__hours-number {
            color: #ff676a;
          }
        }

        &--blue {
          background: #cae6ff;
          border-color: #2a6fd3;

          #{$row}__hours-number {
            color: #2a6fd3;
          }
        }
      }

      &__hours {
        margin-bottom: 0.1rem;
        font-weight: 700;
        background-color: $grey-100;
        color: $grey-200;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.25rem;
        padding: 0;
        min-height: 40px;

        @media screen and (min-width: $viewport-lg) {
          margin-bottom: 0;
          align-items: center;
          justify-content: flex-start;
          background-color: transparent;
        }

        &-number {
          display: flex;
          font-weight: 700;
        }
      }

      &__topic {
        &-main {
          margin-bottom: 0.25rem;

          @media screen and (min-width: $viewport-lg) {
            margin-bottom: 0;
          }
        }

        &-main,
        &-secondary:not(.agenda__schedule__row__cell--empty) {
          border-style: solid;
          border-width: 1px 1px 1px 8px;
          border-radius: 8px;
        }
      }
    }
  }
}
