@import '../../styles/variables';

.agenda {
  &__title-container {
    padding-left: 5%;
  }
  &__container {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__sub-header {
    font-size: 0.8rem;
    line-height: 1rem;
    color: $green-haze;

    @media screen and (min-width: $viewport-lg) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;

    @media screen and (min-width: $viewport-lg) {
      font-size: 20px;
    }
    &__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;

      @media screen and (min-width: $viewport-lg) {
        display: flex;
        justify-content: center;
      }

      &:first-child {
        background-color: #fff;
        font-size: 16px;
        font-weight: 500;
        position: sticky;
        text-align: center;
        top: 0;

        > .agenda__schedule__row__hours {
          display: none;
        }

        @media screen and (min-width: $viewport-lg) {
          font-size: unset;

          > .agenda__schedule__row__hours {
            display: unset;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 0.3rem;

        @media screen and (min-width: $viewport-lg) {
          margin-bottom: 0.1rem;
          margin-right: 0.3rem;
        }
      }

      &__cell {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;

        @media screen and (min-width: $viewport-lg) {
          min-height: 3.5rem;

          &:not(:last-child) {
            margin-right: 0.3rem;
          }
        }

        &--green {
          background: #d1ece3;
        }

        &--red {
          background: #ffe7e1;
        }

        &--blue {
          background: #cae6ff;
        }
      }

      & > * {
        border-radius: 2px;

        @media screen and (min-width: $viewport-lg) {
          border-radius: 5px;
        }
      }
      &__hours {
        display: flex;
        flex-direction: row;
        grid-column: span 2;
        grid-row: 1;
        margin-bottom: 0.1rem;

        @media screen and (min-width: $viewport-lg) {
          width: 11rem;
          margin-bottom: 0;

          &-number {
            width: 5rem;
          }
        }

        &-dash {
          margin: 0 0.5rem;
        }
        &-number {
          display: flex;
          justify-content: center;
        }
      }

      &__topic-main {
        grid-column: 1;
        grid-row: 2;
        margin-right: 0.1rem;

        @media screen and (min-width: $viewport-lg) {
          width: calc(65% - 11rem - 12px);
        }
      }

      &__topic-secondary {
        grid-column: 2;
        grid-row: 2;

        @media screen and (min-width: $viewport-lg) {
          width: 35%;
        }
      }
    }
  }
}
