:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $black;
  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

a {
  color: $black;
  text-decoration: underline;
  text-decoration-color: $black;
  text-decoration-thickness: 2px;
}

button {
  color: $white;
  cursor: pointer;
  border: none;
  padding: 20px 40px;
  border-radius: 4px;
  background: #54A6EC;
  box-shadow: 4px 4px 0px 0px #202124;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
}