:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $black;
  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

a {
  color: $black;
  text-decoration: underline;
  text-decoration-color: $teal;
  text-decoration-thickness: 2px;
}
