@import '../../styles/variables';

.communities {
  background-color: $black;
  color: $white;
  padding: 35px 0;

  @media screen and (min-width: $viewport-md) {
    padding: 55px 0;
  }

  &__title {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 170px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 44px;
    margin-top: 30px;

    @media screen and (min-width: $viewport-md) {
      gap: 70px;
      grid-template-columns: 170px 170px;
      grid-template-rows: auto;
      margin-top: 40px;
    }

    @media screen and (min-width: $viewport-lg) {
      grid-template-columns: 170px 170px 170px;
    }
  }
}
