@import '../../styles/variables';

.registration {
  padding: 70px 0;

  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 47px;

    @media screen and (min-width: $viewport-md) {
      grid-template-columns: 2fr 1fr;
    }

    @media screen and (min-width: $viewport-lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    text-align: left;

    @media screen and (min-width: $viewport-md) {
      font-size: 64px;
      margin-bottom: 80px;
    }
  }

  &__icon {
    height: 80px;
    width: 80px;
  }

  &__info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 18px;
    margin-bottom: 45px;
  }
}
