@import '../../styles/variables';

.header {
  $color-text: #0000;
  $color-subTitle: #ff676a;
  $imagen-fondo: url('../../assets/Hero/Hero.png');
  .mi-seccion {
    position: relative; // Permite que los elementos hijos se posicionen relativos a este contenedor

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: $imagen-fondo;
      background-size: cover; // Ajusta la imagen para cubrir completamente el contenedor
      background-position: center; // Centra la imagen
      opacity: 0.5; // Ajusta la opacidad según tus preferencias
      z-index: -1; // Coloca la imagen de fondo detrás de los otros elementos
    }
  }

  // .container-img {
  //   padding: 20px;
  //   border-radius: 8px;
  //   top: 10px;

  //   .logo {
  //     width: 20px;
  //     height: 10px;
  //   }

  //   h1 {
  //     color: $color-text;
  //     font-size: 35px;
  //     margin-bottom: 10px;
  //   }
  //   h2 {
  //     color: $color-subTitle;
  //     font-size: 20px;
  //   }

  //   p {
  //     color: $color-text;
  //     font-size: 16px;
  //   }
  // }

  &__container {
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      min-height: 650px;
    }
  }

  &__image {
    padding: 20px;
    position: relative;

    &::after {
      content: '';
      background-color: rgb(203, 230, 253);
      border-radius: 50px 50px 0 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: -5px;
      width: 100%;
      z-index: -1;
    }

    @media screen and (min-width: 768px) {
      &::after {
        border-radius: 50px 0 0 50px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 60px 30px 20px 30px;
    position: relative;

    @media screen and (min-width: 768px) {
      padding: 60px;
    }
    @media screen and (min-width: 1024px) {
      padding: 70px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 50px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 60px;
    }
  }

  &__subtitle {
    font-size: 20px;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }

  &__date,
  &__location {
    font-size: 16px;
  }

  &__wtmlogo {
    top: 10px;
    left: 10px;
    position: absolute;
    width: 200px;

    @media screen and (min-width: 768px) {
      bottom: 0;
      top: unset;
      left: 0;
      width: 250px;
    }

    @media screen and (min-width: 1024px) {
      bottom: 30px;
      left: 30px;
      width: 300px;
    }
  }
}
