@import '../../styles/variables';

.header__container {
  width: 100%;
  height: 950px;
  object-fit: cover;
  padding: 120px 50px;
  background-position: center;
  background-size: cover;
  background-image: url('../../assets/Hero/Hero.png');
  .header_container-img {
    .header_section {
      .header_logo {
        height: 50px;
        padding-left: 50px;
      }
      h1 {
        font-weight: 600;
        padding-left: 50px;
        color: $black;
        font-size: 40px;
      }

      h2 {
        color: $bittersweet;
        padding-left: 50px;
        font-size: 30px;
        font-weight: 500;
      }

      p {
        font-size: 20px;
        padding-left: 50px;
      }
    }
  }

  // Media query para tablets
  @media (max-width: 768px) {
    .header__container {
      width: 100%;
      height: 950px;
      object-fit: cover;
      padding: 120px 50px;
      background-position: center;
      background-size: cover;
      background-image: url('../../assets/Hero/Hero.png');
      .header_container-img {
        .header_section {
          .header_logo {
            height: 30px;
          }

          h1 {
            font-weight: 600;
            font-size: 30px !important;
          }

          h2 {
            font-size: 24px;
          }

          p {
            font-size: small;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .header__container {
      width: 100%;
      height: 950px;
      object-fit: cover;
      padding: 120px 50px;
      background-position: center;
      background-size: cover;
      background-image: url('../../assets/Hero/Hero.png');
      .header_container-img {
        .header_section {
          .header_logo {
            width: auto;
            height: 8px;
          }

          h1 {
            font-weight: 600;
            font-size: 20px !important;
          }

          h2 {
            font-size: 20px;
          }

          p {
            font-size: small;
          }
        }
      }
    }
  }
}
