@import '../../styles/variables';

.header {
  background-image: url('../../assets/backgrounds/header-bg-sm.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 780px;
  padding: 80px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and (min-width: $viewport-md) {
    background-image: url('../../assets/backgrounds/header-bg.png');
    justify-content: center;
    min-height: 700px;
    padding: 60px;
  }

  &__title,
  &__subtitle {
    font-size: 34px;
    font-weight: 700;

    @media screen and (min-width: $viewport-md) {
      font-size: 42px;
    }

    @media screen and (min-width: $viewport-lg) {
      font-size: 54px;
    }
    @media screen and (min-width: $viewport-xl) {
      font-size: 64px;
    }
  }

  &__subtitle {
    color: $bittersweet;
  }

  &__text-container {
    @media screen and (min-width: $viewport-md) {
      width: 60%;
    }
    @media screen and (min-width: $viewport-xl) {
      width: 50%;
    }
  }

  &__details {
    font-size: 16px;
    margin-bottom: 40px;

    @media screen and (min-width: $viewport-md) {
      font-size: 20px;
    }
  }

  &__logo {
    margin-bottom: 24px;
    width: 330px;

    @media screen and (min-width: $viewport-md) {
      margin-bottom: 74px;
      width: 396px;
    }
  }
}
