@import '../../styles/variables';

.header {
  background-image: url('../../assets/backgrounds/header-bg-sm.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 800px;
  padding: 80px 20px 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: $viewport-md) {
    background-image: url('../../assets/backgrounds/header-bg.png');
    padding: 60px;
  }

  &__title,
  &__subtitle {
    font-size: 38px;
    font-weight: 700;
    text-wrap: wrap;
    overflow-wrap: break-word;

    @media screen and (min-width: $viewport-md) {
      font-size: 52px;
    }

    @media screen and (min-width: $viewport-md) {
      font-size: 62px;
    }
  }

  &__subtitle {
    color: $bittersweet;
  }

  &__text-container {
    @media screen and (min-width: $viewport-lg) {
      width: 60%;
    }
    @media screen and (min-width: $viewport-xl) {
      width: 50%;
    }
  }

  &__details {
    font-size: 20px;
    margin-bottom: 40px;
  }

  &__logo {
    width: 200px;

    @media screen and (min-width: $viewport-md) {
      width: 396px;
    }
  }
}
