@import '../../styles/variables';

.navigation {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;

  @media (min-width: $viewport-md) {
    padding: 25px 160px;
    background-color: $caribbean-green;
    box-shadow: 0 1px 5px #878787;
    box-shadow: 0 1px 5px #878787;
    justify-content: space-between;
  }

  &__logo {
    width: 58px;

    @media (max-width: $viewport-md) {
      display: none;
    }
  }

  &__toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;

    @media (max-width: $viewport-md) {
      display: block;
      padding: 0;
    }
  }

  &__list {
    display: flex;
    gap: 1rem;

    @media (max-width: $viewport-md) {
      flex-direction: column;
      position: absolute;
      top: 100%;

      display: none;
      background-color: $white;
      padding: 2rem;

      &.is-open {
        display: flex;
        padding-top: 80px;
      }
    }
  }

  &__item {
    a {
      text-decoration: none;
    }

    @media (max-width: $viewport-md) {
      width: 100%;
      text-align: center;
      padding: 1rem 0;
    }
  }
}
