@import '../../styles/variables';

.sponsors {
  background-color: $light-blue;
  padding: 50px 0;

  &__title {
    position: relative;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    margin: 10px 20px;
    width: 140px;
  }

  &__decor {
    position: absolute;
    top: -130px;
    right: 10%;
    width: 150px;
  }

  &__section {
    margin: 50px;
  }
}
